/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

Archive.zip
app2607.zip
bus.zip
buscarg.zip
composer.lock
node_modules
vendor
client_old_11
old
resouces2606.zip
resources2707.zip
storage
backup
var/**