a {
  text-decoration: none !important;
}

.mainmenu nav ul {
  padding-left: 1rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select.is-invalid {
  border-color: #dc3545;
}

.custom-select.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label:before,
.custom-file-input.is-invalid ~ .custom-file-label,
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label:before,
.was-validated .custom-file-input:invalid ~ .custom-file-label {
  border-color: #dc3545;
}

.custom-file-label {
  white-space: nowrap;
  overflow-x: hidden;
}

.custom-control-label:before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file-label,
.custom-file-label:after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
}

.custom-file,
.custom-file-input {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
}

.custom-file-input {
  z-index: 2;
  margin: 0;
  opacity: 0;
}

.custom-file,
.custom-file-input {
  position: relative;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
}

.custom-file-label {
  cursor: pointer;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  font-weight: 400;
  background-color: #f2f2f2;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.modal-header .close {
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.modal-content {
  border: none !important;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-light,
.font-weight-lighter {
  font-weight: lighter;
}

.card-body,
.table-res-contain {
  overflow-x: auto;
}

